:root {
  --color-primary: #eb2f64;
  --color-primary-dark: #ba265d;
  --color-primary-light:#ff3366;
  --color-mist-dark: #B9C4C9;
  --color-mist-light: #e2e8e4;
  --color-artic-dark: #a73737;
  --color-artic-light: #7a2828;
  --color-dull-dark: #D66D75;
  --color-dull-light: #E29587;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --font-primary: 'Open Sans', sans-serif;
  --font-display: 'Josefin Sans', sans-serif;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.08);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  font-family: var(--font-primary);
  font-display: var(--font-display);
  background-image: linear-gradient(to right bottom, var(--color-dull-light), var(--color-dull-dark));
  background-size: cover;
  min-height: 100vh; }

.main-container {
  max-width: 180rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  border: 5px solid #fff;
  border-radius: 10px; }

.side-nav {
  flex: 0 0 15%;
  background-color: #fff; }

.brand-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 3.5rem; }
  .brand-box__icon {
    height: 3.5rem;
    width: 3.5rem;
    fill: var(--color-dull-dark); }
  .brand-box__name {
    font-size: 2.8rem;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    margin-left: 0.5rem;
    letter-spacing: .5rem; }

.nagivation-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85rem; }

.navigation__list {
  list-style: none; }

.navigation__item {
  position: relative; }
  .navigation__item:not(:last-child) {
    margin-bottom: 1rem; }

.navigation__item--active {
  color: var(--color-dull-dark); }

.navigation__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 5px;
  border-radius: 1px;
  background-color: var(--color-dull-dark);
  transform: scale(0);
  transition: transform 1s,  height .5s, background-color .2s; }

.navigation__item:hover::before, .navigation__item--active::before {
  height: 100%;
  transform: scale(1); }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem 2rem;
  display: block;
  display: flex;
  align-items: center; }

.navigation__link:hover {
  color: var(--color-dull-dark); }

.navigation__icon {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
  fill: var(--color-dull-dark); }

.navigation-footer {
  text-align: center; }

.footer {
  font-size: 1.5rem;
  padding: 1rem; }

.content {
  flex: 1; }

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 1.5rem;
  color: #000; }
  .dashboard-header__title {
    font-size: 2.8rem;
    font-weight: 700; }

.day {
  display: flex;
  justify-content: center;
  align-items: center; }
  .day__date {
    font-size: 1.5rem;
    font-weight: 400; }
  .day__icon {
    height: 4rem;
    width: 4rem;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    padding: .5rem;
    margin-left: 1.5rem; }

.school {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem; }

.school-box {
  height: 20rem;
  width: 30rem;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: var(--shadow-light);
  transition: all .2s; }
  .school-box__detail--name {
    font-size: 3.5rem;
    font-weight: 300;
    color: black; }
  .school-box__detail--number {
    font-size: 5rem;
    color: var(--color-primary-dark);
    font-weight: 800; }
  .school-box__host--icon {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    padding: .5rem;
    background-color: var(--color-dull-light); }
  .school-box:hover {
    cursor: pointer;
    transform: translateY(-5px); }

.menu {
  height: 50rem;
  width: 108rem;
  background-color: #fff;
  margin: 1.5rem auto;
  border-radius: 10px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.menu-card {
  height: 20rem;
  width: 30rem;
  border-radius: 10px;
  margin-left: 1.5rem;
  background-color: var(--color-mist-light);
  transition: all .2s; }
  .menu-card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary-dark); }
    .menu-card__title--heading {
      font-size: 2.5rem;
      color: var(--color-primary-dark);
      padding: 0.5rem 1rem; }
    .menu-card__title--icon {
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1.5rem;
      fill: currentColor; }
  .menu-card__detail {
    font-size: 1.5rem;
    color: #000000;
    padding: .8rem; }
  .menu-card:hover {
    transform: translateY(-2px);
    cursor: pointer; }

.user-detail {
  background-color: #af1c1c;
  flex: 0 0 20%; }

.btn-inline {
  border: none;
  font-size: 1.9rem;
  color: var(--color-primary-dark);
  display: inline-block;
  padding: 0.5rem;
  background-color: transparent;
  transition: all .2s;
  cursor: pointer; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-dull-light); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.07);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }
